*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw ;
    height: 100vh;
}
.main-container {
    width: 80%;
    height: auto;
    margin: 50px auto auto;
    background-color: #f1f5f8; 
    padding-bottom: 2.2em;   
}
.main-wrapper{
    width: 95%;
    margin-top: 30px;
}
.heading {
    width: 100%;
    display: flex;
    justify-content: center;
}
.heading p {
    margin-top: 10px;
    font-size: 3rem;
    color: #FF8B00;
    font-family: 'Dancing Script', cursive;
    font-weight: bold
}
.question{
    width: 100%;
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding-top: 15px;
    box-shadow: 7px 5px 10px 0 rgba(0, 0, 0, 0.3), 5px 11px 21px 0 rgba(0, 0, 0, 0.20);
    border-radius: 8px;
}
.question-title{
    display: flex;
    width: 90%;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding: 0 5px 5px 5px;
    
}
.question-title p {
    font-size: 1.5rem;
    font-weight: 150px;
    margin: 5px;
}
.question-title .button {
    background: transparent;
    border: none;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
}
.question-title .fa {
    font-size: 2rem;
}
.question-text{
    width: 90%;
    margin: auto;
    padding: 10px 20px 20px;
    display: none;
}
.question-text p {
    width: 100%;
    margin: auto;
    font-size: 1.5rem;
}
.minus {
    display: none;
}
.show-text .question-text{
    display: flex;
}
.show-text .minus {
    display: flex;
}
.show-text .plus {
    display: none;
}
@media screen and (max-width:600px) {
    .question-title p {
        font-size: 1.3rem;
    }    
    .question-text p {
        font-size: 1rem;
    }
    .question-title .fa {
        font-size: 1.3rem;
    }
}